body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.back-list-image-container-skill-2 {
    width: 50vw;
    height: 10vh;
    background-size: cover;
    position: absolute;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    background-image: url("back_list.png");
    animation-name: moveBackListImageMove2;
}

.back-list-image-container-skill-2-wrapper {
    display: flex;
}

@keyframes moveBackListImageMove2 {
    from {
        left: 25%;
        top: 300%;
    }
    to {
        left: 25%;
        top: 12%;
    }
}