body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.text-container1 {
	color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: -50px; /* Початкове положення тексту за межами екрану */
    animation: slide-up1 3s ease forwards; /* Анімація триває 2 секунди */
    animation-delay: 1s; /* Затримка анімації на 2 секунди */
    z-index: 10;
}

.text-container2 {
	color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: -50px; /* Початкове положення тексту за межами екрану */
    animation: slide-up2 5s ease forwards; /* Анімація триває 2 секунди */
    animation-delay: 1s; /* Затримка анімації на 2 секунди */
    z-index: 10;
}

.text-container3 {
	color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: -50px; /* Початкове положення тексту за межами екрану */
    animation: slide-up3 1s ease forwards; /* Анімація триває 2 секунди */
    animation-delay: 1s; /* Затримка анімації на 2 секунди */
    z-index: 10;
}

.text-container4 {
	color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: -50px; /* Початкове положення тексту за межами екрану */
    animation: slide-up4 4s ease forwards; /* Анімація триває 2 секунди */
    animation-delay: 1s; /* Затримка анімації на 2 секунди */
    z-index: 10;
}

.text-container5 {
	color: white;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    bottom: -50px; /* Початкове положення тексту за межами екрану */
    animation: slide-up5 2s ease forwards; /* Анімація триває 2 секунди */
    animation-delay: 1s; /* Затримка анімації на 2 секунди */
    z-index: 10;
}

@keyframes slide-up1 {
    from {
        left: -100%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 30%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}

@keyframes slide-up2 {
    from {
        left: +100%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 35%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up3 {
    from {
        left: -70%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 40%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up4 {
    from {
        left: -50%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 45%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up5 {
    from {
        left: -40%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 55%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up6 {
    from {
        left: -30%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 60%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up7 {
    from {
        left: -20%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 60%; /* Кінцева позиція тексту в центрі екрану */
        top: 40%;
    }
}
@keyframes slide-up8 {
    from {
        left: -10%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 30%; /* Кінцева позиція тексту в центрі екрану */
        top: 50%;
    }
}
@keyframes slide-up9 {
    from {
        left: -45%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 35%; /* Кінцева позиція тексту в центрі екрану */
        top: 50%;
    }
}
@keyframes slide-up10 {
    from {
        left: -65%; /* Початкова позиція тексту за межами екрану (зліва від екрану) */
        top: 100%; /* Початкова позиція тексту за межами екрану (знизу від екрану) */
    }
    to {
        left: 40%; /* Кінцева позиція тексту в центрі екрану */
        top: 50%;
    }
}